<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true" lang="en">
<f:layout name="Default" />
<f:section name="Header">

    <f:render partial="Header/All" arguments="{_all}" />

</f:section>
<f:section name="Main">


    <f:asset.script identifier="videojs" src="EXT:videos/Resources/Public/JavaScript/video.min.js" />
    <f:asset.script identifier="videojs-de" src="EXT:videos/Resources/Public/JavaScript/lang/de.js" />
    <f:asset.script identifier="videojs-playlist" src="EXT:videos/Resources/Public/JavaScript/videojs-playlist.js" />
    <f:asset.script identifier="videojs-playlist-ui" src="EXT:videos/Resources/Public/JavaScript/videojs-playlist-ui.js" />
    <f:asset.script identifier="videojs-markers" src="EXT:videos/Resources/Public/JavaScript/videojs-markers.js" />
    <f:asset.script identifier="videojs-markers-ui" src="EXT:videos/Resources/Public/JavaScript/videojs-markers-ui.js" />


    <f:asset.css identifier="videojs" href="EXT:videos/Resources/Public/CSS/video-js.css" />
    <f:asset.css identifier="videojs-playlist-ui-vertical" href="EXT:videos/Resources/Public/CSS/videojs-playlist-ui.vertical.css" />
    <f:asset.css identifier="videojs-markers" href="EXT:videos/Resources/Public/CSS/videojs-markers.css" />
    <f:asset.css identifier="videojs-markers-ui" href="EXT:videos/Resources/Public/CSS/videojs-markers-ui.css" />
    <f:asset.css identifier="videos-styles" href="EXT:videos/Resources/Public/CSS/styles.css" />

    <div class="player-container tx-videos__player">
        <video id="video{data.uid}" class="video-js vjs-big-play-centered vjs-fluid" controls preload="auto" crossorigin="anonymous">
            <p class="vjs-no-js">
                <f:translate key="LLL:EXT:videos/Resources/Language/locallang.xfl:javascript_disabled"/>
            </p>
        </video>

        <div class="playlist-container preview-player-dimensions vjs-fluid">
            <div class="vjs-playlist"></div>
        </div>
    </div>


    <f:asset.script identifier="video-{data.uid}">
        var player{data.uid} = videojs('video{data.uid}');
        player{data.uid}.playlist({videos -> f:format.raw()});
        player{data.uid}.playlistUi();
        player{data.uid}.markers();
    </f:asset.script>

</f:section>
</html>
